<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">CEASA DEVCEASA</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{/ceasadev/grupos/cadastrar}"> Grupo</a></li>
				<li><a th:href="@{/ceasadev/subgrupos/cadastrar}">Subgrupo</a></li>
				<li><a href="#">Produto</a></li>
			</ul>
			<button class="btn btn-danger navbar-btn">Button</button>
		</div>
	</nav>
<body>
	
	


	<div class="container">
		
		<div><h5>SUBGRUPOS</h5></div>
		

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Subgrupo</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="subgrupo : ${subgrupos}">
					<td th:text="${subgrupo.id}"></td>
					<td th:text="${subgrupo.nome}"></td>
				</tr>

			</tbody>
		</table>
	</div>

</body>
</html>