<!-- Produto -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap.com/css/docs.css}" rel="stylesheet">
     <link th:href="@{/css/myStyle.css}" rel="stylesheet">
    <title>Sistema de Dados CEASA</title>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
  </head>
</head>
<body>


<header th:insert="~{fragments/menu :: menu-principal}"> </header>



	<section class="layout-content" layout:fragment="corpo">
	<div class="container">

			<div th:replace="~{fragments/alert}"></div>

			<form
				th:action="${produto.id==null} ? @{/ceasadev/produtos/salvar} : @{/ceasadev/produtos/editar}"
				th:object="${produto}" method="POST">

				<div th:replace="~{fragments/validacao :: validacao}"></div>
				<div class="form-group">
					<div class="form-group col-md-6">
						<input type="text" class="form-control" id="nome"
						placeholder="Nome Produto" autofocus="autofocus" th:field="*{nome}" />
					</div>
				</div>
				
				
				<div class="form-group col-md-4">
	                        <!--  <label for="grupo">Grupo</label>-->
	                        <select id="subgrupo" class="form-control" th:field="*{subgrupo}">
	                            <option value="">Selecione o subgrupo</option>
	                            <option th:each="gr : ${subgrupos}" 
	                               		th:value="${gr.id}" 
	                            		th:text="${gr.nome}">Administração</option>
	                        </select>
	                 </div>
	                 
				
				
				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" class="btn btn-primary btn-sm">Gravar</button>

			</form>
	




		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Produto</th>
					<th>Subgrupo</th>
					<th>Editar/Excluir</th>
					
					
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="produto : ${produtos}">
					<td th:text="${produto.id}"></td>
					<td th:text="${produto.nome}"></td>
					<td th:text="${produto.subgrupo.nome}"></td>
					
					<td colspan="2">
						<a class="btn btn-primary" th:href="@{/ceasadev/produtos/editar/{id} (id=${produto.id}) }" role="button">
	                	<span class="oi oi-brush" title="Editar" aria-hidden="true">Editar</span>
	                	</a>
	                 	<a class="btn btn-danger" th:href="@{/ceasadev/produtos/excluir/{id} (id=${produto.id}) }" role="button"
	                	 title="excluir" aria-hidden="true">Excluir</a>
	                 </td>
					
					
				</tr>

			</tbody>
		</table>
		
	</div>
	</section>
		
		
		
	
<div class="footer">
 <footer th:insert="~{fragments/footer :: pie-pagina}" class="footer"></footer>
</div>
</body>
</html>